<app-header></app-header>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<footer class="footer-area relative sky-bg" id="contact-page">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <p style="font-style: italic">"Vói sứ mệnh đem CNTT đến gần hơn với mọi người, chúng tôi cho ra đời BK Ask Forum như là một diễn đàn
                        hỏi đáp các vấn đề liên quan đến ngành, các kĩ thuật lập trình, công nghệ mới, tiên tiến nhất, với
                        tham vọng trở thành StackOverFlow của Việt Nam"</p>
                </div>

                <div class="col-xs-12 col-sm-6 ">
                    <ul class="social-menu text-right x-left">
                        <li>
                            <a href="#">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>&copy;Copyright 2018 All right resurved. This template is made with
                        <i class="ti-heart" aria-hidden="true"></i> by
                        <a href="https://colorlib.com">Colorlib</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>