<!-- Navigation -->

<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4">{{title}}
        <h2 style="float: right;" class="btn btn-primary" (click)="goToCreateQuestion()">+ Add question</h2>
      </h1>

      <!-- Blog Post -->
      <div class="card mb-4" *ngFor="let item of listPost">
        <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
        <div class="card-body">
          <h2 class="card-title">{{item.title}}</h2>
          <p class="card-text" [innerHTML]="item.content"></p>
          <a *ngIf="id_user == item.userId" (click)="edit(item.id)" class="btn btn-success">Edit</a>
          <a *ngIf="id_user == item.userId" (click)="delete(item.id)" class="btn btn-danger">Delete</a>
          <a (click)="goToDetail(item.id)" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Categories : {{item.categoryName}}
        </div>
      </div>

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link">Newer &rarr;</a>
        </li>
      </ul>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <app-list-select (search)="search($event)" (emitParams)="emitParams($event)"></app-list-select>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<button type="button" [hidden]="true" id="modal-add-question" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
</button>

<!-- The Modal -->
<div class="modal fade" id="myModal" style="padding-top: 200px">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">you have to login for function</h4>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)="goToLogin()" class="btn btn-primary" data-dismiss="modal">OK Fine</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<button type="button" [hidden]="true" id="modal-delete-question" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
</button>

<!-- The Modal -->
<div class="modal fade" id="myModal1" style="padding-top: 200px">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">are you sure?</h4>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)="goToLogin()" class="btn btn-danger" data-dismiss="modal">Sure</button>
        <button type="button" class="btn btn-basic" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>