<!--Header-area-->
<header class="header-area overlay full-height relative v-center" id="home-page">
    <div class="absolute anlge-bg"></div>
    <div class="container">
        <div class="row v-center">
            <!-- Introduction Title -->
            <div class="col-xs-12 col-md-7 header-text">
                <h2>Welcome to BK Ask Forum</h2>
                <p>Tham gia ngay vào hệ thống hỏi đáp lớn nhất Vịnh Bắc Bộ với hàng chục thành viên trải rộng trên tất các ngôn
                    ngữ lập trình dù mới hay cũ, tù Pascal đến Java, C#, JS - Tất cả đều có thể được giải đáp tại BK Ask
                    Forum </p>
                <a *ngIf="checkShowLogin" (click)="goToLogin()" class="button blue">Login Now</a>
            </div>
        </div>
    </div>
</header>
<!--Header-area/-->


<!--Question-area-->
<section class="gray-bg section-padding" id="question-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/../../../assets/images/" alt="">
                    </div>
                    <h4>CÂU HỎI MỚI</h4>
                    <p>Bạn có thể thấy các câu hỏi mới nhất của cộng đồng xuất hiện tại đây</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/service-icon-2.png" alt="">
                    </div>
                    <h4>CÂU HỎI GÌ GÌ ĐẤY</h4>
                    <p>Các câu hỏi xu hướng được quan tâm nhiều</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/service-icon-3.png" alt="">
                    </div>
                    <h4>TOP VOTE</h4>
                    <p>Các câu hỏi với số lượng star vote cao nhất đến từ cộng đồng</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Question-area/-->


<section class="gray-bg section-padding" id="category-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <div class="page-title">
                    <h2>CATEGORY</h2>
                    <p>Phân chia câu hỏi theo chủ đề - Thuận lợi tìm kiếm hơn cho các thành viên</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/portfolio-icon-1.png" alt="">
                    </div>
                    <h3>Java</h3>
                    <p>Ngôn ngữ mang đậm tính hướng đối tượng</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/portfolio-icon-2.png" alt="">
                    </div>
                    <h3>C#</h3>
                    <p>Ngôn ngữ hướng đối tượng khác, với sự hậu thuấn của Microsoft</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/portfolio-icon-3.png" alt="">
                    </div>
                    <h3>C/C++</h3>
                    <p>Đơn giản đến phức tạp, có tính hack não cao</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/portfolio-icon-4.png" alt="">
                    </div>
                    <h3>JS</h3>
                    <p>Sự bùng nổ dùng để nói về anh chàng này</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/portfolio-icon-5.png" alt="">
                    </div>
                    <h3>KOTLIN</h3>
                    <p>Sự thay thế cho Java trong lập trình Android?</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/portfolio-icon-6.png" alt="">
                    </div>
                    <h3>KHÁC</h3>
                    <p>Các ngôn ngữ, thủ thuật, mẹo vặt linh tinh khác</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-padding gray-bg" id="goldmember-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <div class="page-title">
                    <h2>GOLD MEMBER</h2>
                    <p>Top các thành viên uy tín, hiểu biết rộng trong cộng đồng BK Ask</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="gold-member">
                    <div class="member-photo">
                        <img src="../../../assets/images/team-section-1.png" alt="">
                    </div>
                    <h4>GOLD 1</h4>
                    <h6>Co. Founder</h6>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="gold-member">
                    <div class="member-photo">
                        <img src="../../../assets/images/team-section-2.png" alt="">
                    </div>
                    <h4>GOLD 2</h4>
                    <h6>UX Designer</h6>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="gold-member">
                    <div class="member-photo">
                        <img src="../../../assets/images/team-section-3.png" alt="">
                    </div>
                    <h4>GOLD 3</h4>
                    <h6>Founder</h6>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="gold-member">
                    <div class="member-photo">
                        <img src="../../../assets/images/team-section-4.png" alt="">
                    </div>
                    <h4>GOLD 4</h4>
                    <h6>Creative Director</h6>
                </div>
            </div>
        </div>
    </div>
</section>

