<!--Header-area-->
<header class="header-area overlay full-height relative v-center" id="home-page">
    <div class="absolute anlge-bg"></div>
    <div class="container">
        <div class="row v-center">
            <!-- Introduction Title -->
            <div class="col-xs-12 col-md-7 header-text">
                <h2>Welcome to BK Ask Forum</h2>
                <p>Tham gia ngay vào hệ thống hỏi đáp lớn nhất Vịnh Bắc Bộ với hàng chục thành viên trải rộng trên tất các ngôn
                    ngữ lập trình dù mới hay cũ, tù Pascal đến Java, C#, JS - Tất cả đều có thể được giải đáp tại BK Ask
                    Forum </p>
                <a *ngIf="checkShowLogin" (click)="goToLogin()" class="button blue">Login Now</a>
            </div>
        </div>
    </div>
</header>
<!--Header-area/-->


<!--Question-area-->
<section class="gray-bg section-padding" id="question-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/../../../assets/images/" alt="">
                    </div>
                    <h4>CÂU HỎI MỚI</h4>
                    <p>Bạn có thể thấy các câu hỏi mới nhất của cộng đồng xuất hiện tại đây</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/service-icon-2.png" alt="">
                    </div>
                    <h4>CÂU HỎI GÌ GÌ ĐẤY</h4>
                    <p>Các câu hỏi xu hướng được quan tâm nhiều</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/service-icon-3.png" alt="">
                    </div>
                    <h4>TOP VOTE</h4>
                    <p>Các câu hỏi với số lượng star vote cao nhất đến từ cộng đồng</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Question-area/-->


<section class="gray-bg section-padding" id="category-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <div class="page-title">
                    <h2>CATEGORY</h2>
                    <p>Phân chia câu hỏi theo chủ đề - Thuận lợi tìm kiếm hơn cho các thành viên</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/portfolio-icon-1.png" alt="">
                    </div>
                    <h3>Java</h3>
                    <p>Ngôn ngữ mang đậm tính hướng đối tượng</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/portfolio-icon-2.png" alt="">
                    </div>
                    <h3>C#</h3>
                    <p>Ngôn ngữ hướng đối tượng khác, với sự hậu thuấn của Microsoft</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/portfolio-icon-3.png" alt="">
                    </div>
                    <h3>C/C++</h3>
                    <p>Đơn giản đến phức tạp, có tính hack não cao</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/portfolio-icon-4.png" alt="">
                    </div>
                    <h3>JS</h3>
                    <p>Sự bùng nổ dùng để nói về anh chàng này</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/portfolio-icon-5.png" alt="">
                    </div>
                    <h3>KOTLIN</h3>
                    <p>Sự thay thế cho Java trong lập trình Android?</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <div class="box-icon">
                        <img src="../../../assets/images/portfolio-icon-6.png" alt="">
                    </div>
                    <h3>KHÁC</h3>
                    <p>Các ngôn ngữ, thủ thuật, mẹo vặt linh tinh khác</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section-padding gray-bg" id="goldmember-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <div class="page-title">
                    <h2>GOLD MEMBER</h2>
                    <p>Top các thành viên uy tín, hiểu biết rộng trong cộng đồng BK Ask</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="gold-member">
                    <div class="member-photo">
                        <img src="../../../assets/images/team-section-1.png" alt="">
                    </div>
                    <h4>GOLD 1</h4>
                    <h6>Co. Founder</h6>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="gold-member">
                    <div class="member-photo">
                        <img src="../../../assets/images/team-section-2.png" alt="">
                    </div>
                    <h4>GOLD 2</h4>
                    <h6>UX Designer</h6>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="gold-member">
                    <div class="member-photo">
                        <img src="../../../assets/images/team-section-3.png" alt="">
                    </div>
                    <h4>GOLD 3</h4>
                    <h6>Founder</h6>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="gold-member">
                    <div class="member-photo">
                        <img src="../../../assets/images/team-section-4.png" alt="">
                    </div>
                    <h4>GOLD 4</h4>
                    <h6>Creative Director</h6>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="team-area section-padding gray-bg overlay" id="team-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <div class="page-title">
                    <h2>OUR TEAM</h2>
                    <p>Đội ngũ phát triển, quản trị viên của hệ thống</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="team">
                    <div class="team-photo">
                        <img src="../../../assets/images/avatar-small-1.png" alt="">
                    </div>
                    <h4>Nguyễn Anh Tuấn</h4>
                    <p>Back-end Developer - Spring</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="team">
                    <div class="team-photo">
                        <img src="../../../assets/images/avatar-small-1.png" alt="">
                    </div>
                    <h4>Nguyễn Văn Trọng</h4>
                    <p>Front-end Developọnger - Master AngularJS</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="team">
                    <div class="team-photo">
                        <img src="../../../assets/images/avatar-small-1.png" alt="">
                    </div>
                    <h4>Hà Thế Đăng</h4>
                    <p>Full-Stack Developer</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="team">
                    <div class="team-photo">
                        <img src="../../../assets/images/avatar-small-1.png" alt="">
                    </div>
                    <h4>Trần Quang Khải</h4>
                    <p>Nothing to show</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="team">
                    <div class="team-photo">
                        <img src="../../../assets/images/avatar-small-1.png" alt="">
                    </div>
                    <h4>Mai Tiến Dũng</h4>
                    <p>Leader</p>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer-area relative sky-bg" id="contact-page">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <p style="font-style: italic">"Vói sứ mệnh đem CNTT đến gần hơn với mọi người, chúng tôi cho ra đời BK Ask Forum như là một diễn đàn
                        hỏi đáp các vấn đề liên quan đến ngành, các kĩ thuật lập trình, công nghệ mới, tiên tiến nhất, với
                        tham vọng trở thành StackOverFlow của Việt Nam"</p>
                </div>

                <div class="col-xs-12 col-sm-6 ">
                    <ul class="social-menu text-right x-left">
                        <li>
                            <a href="#">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>&copy;Copyright 2018 All right resurved. This template is made with
                        <i class="ti-heart" aria-hidden="true"></i> by
                        <a href="https://colorlib.com">Colorlib</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>