<div class="mainmenu-area" data-spy="affix" data-offset-top="100">
  <div class="container">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" id="primary-menu">
      <a class="navbar-brand" style="color: white" (click)="changePage(0)">
        <h2>BK ASK FORUM</h2>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto" *ngIf="check_admin">
          <li style="color:white" (click)="goToManagement()">MAGAGEMENT</li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li (click)="seenNotify()" data-toggle="dropdown" *ngIf="notify_not_seen && id_user" style="    
          color: red;
          border-radius: 25%;
          position: absolute;
          padding-left: 4px;
          margin-left: 20px;
          font-size: 12px;
          background-color: cornflowerblue;
          z-index: 1;">{{notify_not_seen}}</li>
          <li *ngIf="id_user">
            <div class="dropdown">
              <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                <span class="caret"></span> 
              </button>-->
              <img (click)="seenNotify()" src="./../../../../assets/image/world.png" data-toggle="dropdown" style="height: 30px;padding-right: 20px"
                alt="">
              <ul infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="1000" [scrollWindow]="false" (scrolled)="onScrollEvent()"
                class="dropdown-menu" style="max-height: 500px;padding: 20px;overflow-x: auto;">
                <li (click)="goToQuestion(item.questionId);" style="width: 300px" *ngFor="let item of listNotification let i = index">
                  <a *ngIf="item.seen" style="color: gray">{{item.content}}</a>
                  <a *ngIf="!item.seen" style="color: black">{{item.content}}</a>
                  <hr *ngIf="i != listNotification.length -1">
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item" (click)="changePage(item.value)" *ngFor="let item of listTitle">
            <a *ngIf="item.value != 6 && item.value !=5 && item.value != 7" class="nav-link">{{item.name}}</a>
            <a *ngIf="(item.value == 6 || item.value == 5 )&& id_user" class="nav-link">{{item.name}}</a>
            <a *ngIf="item.value == 7 && !id_user" class="nav-link">{{item.name}}</a>
          </li>

        </ul>

      </div>
    </nav>

  </div>
</div>