<div class="mainmenu-area" data-spy="affix" data-offset-top="100">
  <div class="container">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" id="primary-menu">
      <a class="navbar-brand" style="color: white" (click)="changePage(0)">
        <h2>BK ASK FORUM</h2>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" (click)="changePage(item.value)" *ngFor="let item of listTitle">
            <a *ngIf="item.value != 6 && item.value !=5" class="nav-link">{{item.name}}</a>
            <a *ngIf="(item.value == 6 || item.value == 5 )&& id_user" class="nav-link">{{item.name}}</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</div>